<!DOCTYPE html>
<!-- lets HTML Know what type of browser we are using -->
<html>
<head>
  <meta charset="utf-8"><!-- lets browser know how to render our characters -->
  <title>Some Website</title>
</head>
<body>
  <h1>We'll be right back</h1>
  <p>The site is curerntly being updated.</p>
  {{> footer}}
</body>
</html>
